*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body{
	background: #1B2223;
}

/*comenzando por los estilos del header*/

header{
	position: relative;
	width: 100%;
	height: 60px;
	background-color: #3A4F50;
}

header h1{
	color: #F4FEFD;
	font-size: 40px;
	font-weight: 600;
	margin-left: 30px;
	padding-top: 5px;
}

header nav{
	position: absolute;
	right: 7%;
	top: 20px;
}

header nav a{
	text-decoration: none;
	color: #F4FEFD;
	font-size: 15px;
	font-weight: 600;
	padding: 5px 5PX;
	border-radius: 10px;
	margin-right: 10px;
	cursor: pointer;
	transition: 300ms all;
}

header nav a:hover{
	background: #F4FEFD;
	color: #0EF6CC;
	border-radius: 10px;
}

/*estilos del main*/

main{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 5px;
	margin-bottom: 200px;
}

main a{
	display: flex;
	flex-direction: column;
	width: 350px;
	margin-top: 50px;
	background: #3A4F50;
	cursor: pointer;
	border-radius: 5px;
	text-decoration: none;
	transition: 300ms all;
}

main a:hover{
	transform: scale(1.04);
	border-radius: 5px;
	background: #0EF6CC;
	box-shadow: 0 5px 7px 5px #3A4F50;
}

main a img{
	margin: auto;
	border-radius: 4px;
	width: 350px;
	height: 250px;
}

main a h3{
	margin-top: 7px;
	margin-bottom: 10px;
	padding-left: 6px;
	color: white;
}

main a p{
	text-align: justify;
	padding: 0 5px;
	margin-bottom: 10px;
	color: white;
}

footer{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 250px;
	margin-top: 10px;
	background: #0EF6CC;
}


.svg_footer svg{
	font-size: 30px;
	margin: 80px 80px 80px 20px;
	cursor: pointer;
}

.svg_footer h1{
	font-size: 20px;
	font-weight: 500;
	margin-left: 110px;
	color: #F4FEFD
}